@(tasks: List[Task])
@import helper._
<html>
<head>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("stylesheets/todos.css")">
<!-- Latest compiled and minified CSS -->

<!-- Optional theme -->

<!-- Latest compiled and minified JavaScript -->
</head>

<script type="text/javascript" src="@routes.Assets.at("javascripts/index.js")"></script>

<body>

	 <div id='todoapp'>
		@header()
		
		<section id='main' style='display: block;'>

			<input id='toggle-all' type='checkbox'> <label for='toggle-all'>Mark all as complete</label>
			<ul id='todo-list'>
			@for(task <- tasks){
		
				<li class = 'liTag'> 
 				    <div class = 'view'>
 				    	<input id = 'todo_@task.id' class = 'toggle' type = 'checkbox'>
 				    	<label class = 'list'>@task.name</label> <a id = 'todo_@task.id' class = 'deleted'></a>
 				   	</div> 
 				    <input class='edit' type='text' value="@task.name">
 				  </li>
		
			}		
			</ul>
		</section>
		@footer()
	</div>
</body>
</html>

